<h1>Edit your Account</h1>
<div class="container-fluid" style="background-color:grey">
  <div class="panel-lg" style="overflow:scroll; max-height:100px; background-color:white">
    <%= render 'form', user: @user %>
  </div>
</div>

<%= link_to 'Back', @user %>
