
<!-- <div class="navbar navbar-nav navbar-right" id="myNavbar"> -->

<h1>Pass the Hat</h1>

<div class="jumbotron text-center col-md-5">
    <h1>GIVE</h1><br>
    <p><i>Donations made simple</span></i></p>
    <%=link_to "Register User", "/users/signup", class:"btn btn-lg"%>
    <%=link_to "Log In", "/login", class:"btn btn-lg"%>
</div>

<div class="panel-med col-md-2">
</div>

<div class="jumbotron text-center col-md-5">
  <h1>RECEIVE</h1><br>
    <p><i>Connect with PTH's platform.</span></i></p>
    <%=link_to "Register Charity", "/charities/signup", class:"btn btn-lg"%>
    <%=link_to "Log In", "/login", class:"btn btn-lg"%>
</div>
