
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-header {
  font-family: Montserrat, sans-serif;
}
.jumbotron {
  background-color: #338DFF;
  color: black;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
  align-items: left;
}

body {
  background-image: url("https://cdn.pixabay.com/photo/2018/01/19/16/15/sunset-3092722__340.jpg");
  background-repeat: no-repeat;
}
